<input type="text" [(ngModel)]="title">
{{title}}



<div *ngIf="1===1">
  Probando el ngIf
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">la lista esta vacia </li> -- compara y valida si hay info
  <li *ngFor="let name of items; index as i"> -- recorre el  array 
    {{ name }} {{i}}
    <button (click)="deleteItem(i)">delete</button>  -- pasa como parametro la i
  </li>
</ul>

<div class='product-grid'>
  <app-product 
  *ngFor="let product of products" 
  (productClicked)="clickproduct($event)" [product]="product" >  </app-product>
</div>
